<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionViewPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED31A02D1C0E1EAA00490313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED31A0411C0E1EAA00490313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED31A04C1C0E1EAA00490313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
